#header {
    margin-left: 30.5px;
    margin-right: 30.5px;

    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header {
    background: #181717;
    height: 109px;
    font-family: "Alata", sans-serif;
    color: rgb(177, 177, 177);

    position: sticky;
    top: -100px;
}

header h1 {
    font-size: 1.7rem;
    display:flex;

}

#menu {
    width: 40px;
    
    border-radius: 20px;
    
    background: rgb(255, 255, 255);
}

.menu {
    position: absolute;
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

}

.menu-nav {
    width: 155px;
    height: 147px;
    
    background: #181717;

    font-family: "Alata", sans-serif;
    font-size: 1.5rem;

    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    color: rgb(177, 177, 177);
}

h2 {
    padding-top: 16px;

    font-family: "Alata", sans-serif;
    font-size: 1.5em;
}

p {
    padding-top: 16px;
    
    font-family: "Alata", sans-serif;
    font-size: 1em;
    line-height: 1.5;

    max-width: 630px; 
    word-break: keep-all;
}


a {
    color: rgb(0, 0, 0);
}

.imagem {
    
    background: rgb(177, 177, 177);
    border-radius: 128px;
    
}


/* body */
#sobre-mim {
    height: 584px;
    padding: 32px 13px;

    background: #5c3838;
    color:rgb(209, 209, 209);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


#listas {
    height: 890px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    /* justify-content: space-between; */
    align-items: center;
    
    background: #794d4d;
    color: rgb(207, 207, 207);
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    color: black;
}

#hobbies {
    display: flex;
    padding-left: 23.5px;
    padding-top: 38.5px;
}

#top {
    display: flex;
    padding-left: 23.5px;
    padding-top: 38.5px;
}

li {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    
    background: #DFDFDF;
    border-radius: 5%;
    box-sizing: border-box;
    
    margin: 13px 18.5px;
    
    color:#5c3838;
    
    padding-bottom: 9px;
    
    width: 103px;
    height: 150px;
}

ol {
    font-family: "Alata", sans-serif;
    font-size: 1em;
}

ul {
    font-family: "Alata", sans-serif;
    font-size: 1em;
}


/* footer */
#icon {
    width: 32px;
    margin: 10px;
    
    border-radius: 16px;
    
    background: rgb(255, 255, 255);
}

#footer {
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#icones {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

footer {
    background: #181717;
    height: 127px;

    position: sticky;
    bottom: -120px;
}

#botao-contato {
    font-family: "Alata", sans-serif;
    font-size: 1em;
    background-color: #DFDFDF;
    padding: 8px 16px;
    margin-top: 16px;
}

.hidden {
    visibility: hidden;
}


